* {
  margin: 0;
  padding: 0;
}
body {
  overflow: none;
}

/*
-----------------Start of Flex Template-----------------
*/

.flex_message_area {
  display: inline-flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.flex_template {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

/*
------------------GRID TEMPLATES--------------------
*/

.main_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1;
}

.chatbox_grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 90% 1fr;
}

/*
-----------------End of Grid Template----------------
*/

main {
  height: 100vh;
  width: 100vw;
}

.left_side {
  display: block;
  grid-column-start: 1;
  height: 100vh;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

/* 
-------------------Start of Chat Area---------------------------
*/
.chat_box {
  overflow: scroll;
  grid-row: 1 2;
  height: 92vh;
  background-color: #0e0e0e;
  color: #ffffff;
}

.user_input {
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 75%;
  grid-row-start: 2;
  background-color: #0e0e0e;
}

.user_input input {
  font-size: 1.4rem;
  background-color: #1a1919;
  border: 0;
  width: 70%;
  height: fit-content;
  color: #ffffff;
}

.message_template {
  height: fit-content;
  margin: 1rem;
}

.user_profile_img {
  width: 5rem;
}
/*
-----------------------End of Chat Area-------------------------
*/
